.FAQ > div{
    display: flex;
    flex-direction : row;
}

/* .Box{
    display: grid;
    grid-template-areas: "1 2 3";
    grid-row : repeat(3, 1fr);
}

.Box > h1 {
    grid-area: 1;
}
.Box > h3 {
    grid-area: 2;
}
.Box > p {
    grid-area: 3;
} */