.footer {
    background-color: rgb(8, 8, 76);
    height: 400px;
    display: flex;
    color: white;
}

.footer > div {
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.iconwrapper{
    display: flex;
    flex-direction: row;
}

.iconbutton {
    margin-right: 10%;
}

.title{
    font-weight: bold;
    
}

.copyright{
    text-align: center;
}