.slick-prev {
    z-index: 100;
    left: 0px !important;
    top: 35% !important;
}

.slick-next {
    z-index: 100;
    top: 35% !important;
    right: 0px !important;
}

.arrow{
    transition: 0.1s ;
}
.arrow:hover {
    transform: scale(1.5);
}
