
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, input{  
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  height:100%; 
  @apply bg-blue-50
}

*{
  transition: .3s;
}

 /* width */
 ::-webkit-scrollbar {
  width: 3px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #022335;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff  !important;

  border-radius: 2px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgb(176, 178, 180)  !important; */
  @apply bg-red-900;
}
